@font-face {
    font-family: "Silem";
    src: url("../font/SilomBol.ttf");
    }

.addBurger {
    margin-top: 50px;
}

body {
    font-family: Silem;
}

.notEaten, .eaten {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 222, 127);
}

.notEaten:hover {
    cursor: pointer;
}

.eaten:hover {
    cursor: pointer;
}

#burger {
    background-color: rgb(253, 222, 127);
}

.modalColor,.modal-footer {
    background-color: rgb(253, 222, 127);
}

.devour, .delete {
    font-family: Silem;
}


.list-group-scroll{
    max-height: 120px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}



/*Need this so the line above the buttons on the modal box for the Solar ID goes all the way accross*/
.fixLine{
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 1000px) {
   .addBurger {
    margin-top: 10px;
   }

   .logo {
       margin-top: 20px !important;
   }

}





